<% if @commits.present? %>
  <table>
    <th colspan="3">Activities of '<%= @repository.name %>' repo</th>
    <%= render :partial => "github/reports/commit", :collection => @commits %>
  </table>
<% else %>
  <h2>Activities of '<%= @repository.name %>' repo</h2>
  <ul><li>No activities for the selected criteria. To modify the report criteria, <%= 
    link_to_remote "click here", 
    :url => collaborators_github_repository_path(:id => session[:github_repository_name]),
    :loading => "$('github-content').toggle(); $('repository_#{session[:github_repository_name]}_menu_spinner').show(); $('repository_#{session[:github_repository_name]}_menu_link').hide()", 
    :complete => "$('github-content').toggle(); $('repository_#{session[:github_repository_name]}_menu_spinner').hide(); $('repository_#{session[:github_repository_name]}_menu_link').show()", 
    :method => :get, 
    :html => {:id => "repository_#{session[:github_repository_name]}_menu_link"} %><%= image_tag "indicators/small.gif", :id => "repository_#{session[:github_repository_name]}_menu_spinner", :style => "display:none;" %>.</li></ul>
<% end %>