<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Liveliness</title>
    <%= render :partial => "/layouts/scripts_n_styles" %>
    
  </head>
  <body class="<%=h controller.controller_name %> <%=h controller.action_name %>">
    <div class="header" id="header">
      <div id="main-header">
        <h1><%= link_to "Liveliness", root_path %></h1>
        <h4>beta</h4>
      </div>
      <div id="merged_report" class="merged_report_button">
        <%= get_merged_report_button %>
      </div>
      <div class="clear"></div>
      <div id="messages">
        <%= render :partial => "/layouts/messages" %>
      </div>
    </div>
    <div id="main-content">
      <% unless @no_separate_divs %>
        <div class="box left" id="pivotal-main">
          <%= render :partial => "/pivotal_tracker/menu" %>        
          <div id="pivotal-content"></div>
        </div>
        <div class="box right" id="github-main">
          <%= render :partial => "/github/menu" %>
          <div id="github-content"></div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
      <div class="clear">
    </div>
    <div id="footer">
      
    </div>  
  </body>
</html>